*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    gap: 20px;
    padding: 30px 0 30px 0;
}

.inputs{
    display: block;
    margin: 15px 0;
}

input{
    margin: 20px 0 0 10px;
}

button{
    width: 100px;
    height: 25px;
    background-color: floralwhite;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 25px;
}

.guide{
    width: 266px;
    height: 130px;
    /* background-color: burlywood; */
    margin-top: 25px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 7px;
}

#head{
    padding-bottom: 15px;
}


#height{
    margin-left: 14px;
}


label{
    font-size: 18px;
    font-family: cursive;
}