.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    /* width: 120px;
    height: 30px; */
    background-color: orange;
    border-radius: 7px;
    font-size: 40px;
    margin-top: 10px;
    padding: 20px 50px;
}